<div class="poop-container">
  <h1>Feeling Like Shit?</h1>

  <div class="summary-container">
    <p>Having a shitty day? Or maybe you just feel like a piece of shit right now. Perhaps you ignored your best friend’s texts for the last week, or maybe your cat ran away. For whatever your shitty reasons are for feeling kind of crappy, we’re here to help. Take a look around and see how the world is just one giant piece of shit - plenty more massive a piece of shit than you certainly are.</p>

    <p>We’ve rounded up some pretty neat poop related facts and I gotta tell you - it’s staggering. Check them out while you’re around. Also, please check out our daily poop-o-meter to see how the world’s poop have been today. Don’t forget tell us about your poop today either!</p>

    <p>All in all, there’s no reason to feel like a piece of shit when we have all this other shit in the world. Keep your spirits up, and your poops be ever in your favor.</p>
  </div>
</div>
