.home-container, .rating-container {
  min-height: 100vh;
}

.home-container h1 {
  text-align: center;
}

.nav-options p {
  border: 3px black solid;
  border-radius: 5px;
}

.home-container p {
  font-size: 22px;
}

.home-container a {
  color: black;
}

.hoverable {
  -webkit-transition: background .5s;
  transition: background .5s;
}

.hoverable:hover {
  background: #8d6e63;
  /*color: white;*/
  -webkit-transition: background .5s;
  transition: background .5s;
}
