#poop-rating {
  padding-top: 20px;
}

.rating-container h1 {
  text-align: center;
}

.rating-container h3 {
  margin: 0;
  padding: 0;
}

.rating-container div {
  /*outline: 1px black solid;*/
}

.rating-options p {
  font-size: 22px;
  padding: 15px;
  display: inline-block;
  border: 3px black solid;
  border-radius: 5px;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.vote-form {
  display: none;
}


#enjoyable {
  background: #d70206;
}

#indifferent {
  background: #f05b4f;
}

#uncomfortable {
  background: #f4c63d;
}

#afflictive {
  background: #d17905;
}

#agonizing {
  background: #453d3f;
}

#enjoyable:hover, #indifferent:hover, #uncomfortable:hover, #afflictive:hover, #agonizing:hover {
  background: none;
}
